#h1 {
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}
#button1
{
	width:300px;
	height:40px;
	color: green;
}
#button2
{
	width:300px;
	height:40px;
	color: red;
}
#button3
{
	width:300px;
	height:40px;
	color: red;
}
